<div>

  <div class="footer-triangle"></div>
  <div class="footer">
    <div style="height:100px;"></div>

    <div class="footer-content">
      <div class="footer-column">
        <p>ABOUT US</p>
        <p>SERVICES</p>
        <p>FAQs</p>
        <p>CONTACT US</p>
      </div>

      <div class="footer-center">
        <h2>NAME OF COMPANY</h2>
      </div>

      <div class="footer-column">
        <p>(555) 555-5555</p>
        <p>EMAILMAIL.COM</p>
        <p>OXFORD, CONNECTICUT</p>
      </div>
    </div>
  </div>
</div>

<!-- 
          <a  style="margin:2rem;" (click)="TrenoIG()"> <img style="height: 2.5rem;" src="assets/images/instagram_icon.png"></a>
        
          <a style="margin:2rem;"  (click)="Modernism()"> <img style="height: 2.5rem;" src="assets/images/modernism-week_icon.png"> </a> -->