<div class="pagepadding" style="height: 100%;">
<div class="center-img">
<div style="width: 400px; margin:1rem;"> 
 <app-cpagraphics [graphics]="graphics.newmessage"></app-cpagraphics>
</div>
</div>
<!-- <div style="display: flex;">
    <div style="width:30%;">
<img src="assets/images/planning.webp" style="width:100%;">
</div>
<div style="margin: 16px;">
<h1>Mailing Address</h1>
<h3>123 Anywhere St. Any City, ST 12345</h3>
<br>
<h1>Phone Number</h1>
<h3>(123) 456-7890</h3>
<br>
<h1>Email Address</h1>
<h3>email us “Consultation” to get started!</h3>
</div>
</div>  -->
 <app-contact></app-contact>
    <app-footer></app-footer>
</div>